@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.bg-jobs-profile {
    background-image: url("https://assets.ccbp.in/frontend/react-js/profile-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 20vh;
    width: 30vh;
    border-radius: 10px;
}